---
layout: default
---

<!--          -->
<!-- OVERVIEW -->
<!--          -->
<h1 id="overview"><a href="#source" class="next-h1 hidden-md-up"><i class="fa fa-angle-double-down"></i></a>Overview</h1>
{% include overview.html %}
<!--              -->
<!-- SOURCE CODE  -->
<!--              -->
<h1 id="source"><a href="#lotteries" class="next-h1 hidden-md-up"><i class="fa fa-angle-double-down"></i></a>Source Code and Usage Instructions</h1>
{% include source-code.html %}
<!--          -->
<!-- TUTORIAL -->
<!--          -->
<h1 id="tutorial"><a href="#mdc" class="next-h1 hidden-md-up"><i class="fa fa-angle-double-down"></i></a>Tutorial: Generating the Three Cents Curve</h1>
{% include tutorial.html %}
<!--                      -->
<!-- MILLION DOLLAR CURVE -->
<!--                      -->
<h1 id="mdc"><a href="#about" class="next-h1 hidden-md-up"><i class="fa fa-angle-double-down"></i></a>The Million Dollar Curve</h1>
{% include million-dollar-curve.html %}
<!--            -->
<!-- LOTTERIES  -->
<!--            -->
<h1 id="lotteries"><a href="#tutorial" class="next-h1 hidden-md-up"><i class="fa fa-angle-double-down"></i></a>List of Lotteries</h1>
{% include lotteries.html %}
