<section class="jumbotron mdc-jumbotron-footer" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xs-12 mdc-jumbotron-footer-div">
        <h1>About CryptoExperts</h1>
        <p class="lead">CryptoExperts SAS is a young start-up company founded by internationally recognized industrial and academic researchers in IT security and cryptography. Launched in Feb 2009, the company intends to fill the huge gap that exists between the scientific state of the art and the technology level found in current security products. Through both consulting services and business-driven innovation, we help the security industry benefit from the latest available advances in cryptography to improve their products and services. We have gathered - and go on gathering - cryptography experts with complementary skills and knowledge of the field to offer a unique panel of services ranging from product developement to the conception of new security systems. CryptoExperts’ clients and partners include leading technology companies from around the world.</p>
        <img src="{{ "images/curve_perspective.svg" | prepend: site.baseurl }}" alt="Curve in perspective" width="100%" style="opacity: 0; margin-top: 2rem; pointer-events: none;">
        <img src="{{ "images/curve_perspective.svg" | prepend: site.baseurl }}" alt="Curve in perspective" width="100%" style="position:absolute; bottom:0;left:0;">
      </div>
    </div>
  </div>
</section>
