<p>
  In this table, one can find an exhaustive list of lotteries we use, 
  that is lotteries for which we could easily access an up-to-date archive of draws. 
  Each lottery picks a number \(m\) among \(n\) numbers, and we specify the resulting 
  entropy per draw and the number of draws per week.
</p>
<div class="big_table">
<table class="table lotteries">
  <thead class="thead-default">
    <tr>
      <th>Lottery name</th>
      <th>\(m\)</th>
      <th>\(n\)</th>
      <th>Entropy</th>
      <th>Weekly draws</th>
      <th>Weekly entropy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="https://www.ozlotteries.com/lotto-results/monday-lotto">Australian Monday Lotto</a></th>
      <td>6</td>
      <td>45</td>
      <td>22.95</td>
      <td>1</td>
      <td>22.95</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.ozlotteries.com/lotto-results/oz-lotto">Australian OZ Lotto</a></th>
      <td>7</td>
      <td>45</td>
      <td>25.43</td>
      <td>1</td>
      <td>25.43</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.ozlotteries.com/lotto-results/powerball">Australian Powerball</a></th>
      <td>6</td>
      <td>40</td>
      <td>21.87</td>
      <td>1</td>
      <td>21.87</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.ozlotteries.com/lotto-results/saturday-lotto">Australian Saturday Lotto</a></th>
      <td>6</td>
      <td>45</td>
      <td>22.95</td>
      <td>1</td>
      <td>22.95</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.ozlotteries.com/lotto-results/wednesday-lotto">Australian Wednesday Lotto</a></th>
      <td>6</td>
      <td>45</td>
      <td>22.95</td>
      <td>1</td>
      <td>22.95</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://www.loterie-nationale.be/fr/nos-jeux/lotto/resultats">Belgian Lotto</a></th>
      <td>6</td>
      <td>45</td>
      <td>22.95</td>
      <td>2</td>
      <td>45.90</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="http://www.loterias.caixa.gov.br/wps/portal/loterias/landing/duplasena/">Brasilian Dupla-Sena</a></th>
      <td>6</td>
      <td>50</td>
      <td>23.92</td>
      <td>2</td>
      <td>47.84</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.loterias.caixa.gov.br/wps/portal/loterias/landing/lotofacil/">Brasilian Lotofácil</a></th>
      <td>15</td>
      <td>25</td>
      <td>21.64</td>
      <td>3</td>
      <td>64.92</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.loterias.caixa.gov.br/wps/portal/loterias/landing/megasena/">Brasilian Mega-Sena</a></th>
      <td>6</td>
      <td>60</td>
      <td>25.57</td>
      <td>2</td>
      <td>51.14</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.loterias.caixa.gov.br/wps/portal/loterias/landing/quina/">Brasilian Quina</a></th>
      <td>5</td>
      <td>80</td>
      <td>24.51</td>
      <td>6</td>
      <td>147.06</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="http://www.olg.ca/lotteries/viewPastNumbers.do">Canadian Daily Keno (Midday Draw)</a></th>
      <td>20</td>
      <td>70</td>
      <td>57.16</td>
      <td>7</td>
      <td>400.12</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.olg.ca/lotteries/viewPastNumbers.do">Canadian Daily Keno (Evening Draw)</a></th>
      <td>20</td>
      <td>70</td>
      <td>57.16</td>
      <td>7</td>
      <td>400.12</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.olg.ca/lotteries/viewPastNumbers.do">Canadian Loto 649 (Main Draw)</a></th>
      <td>6</td>
      <td>49</td>
      <td>23.73</td>
      <td>2</td>
      <td>47.46</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.olg.ca/lotteries/viewPastNumbers.do">Canadian Loto Max (Main Draw)</a></th>
      <td>7</td>
      <td>49</td>
      <td>26.35</td>
      <td>1</td>
      <td>26.35</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.olg.ca/lotteries/viewPastNumbers.do">Canadian Lottario</a></th>
      <td>6</td>
      <td>45</td>
      <td>22.95</td>
      <td>1</td>
      <td>22.95</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://jeux.loro.ch/FR/1/SwissLoto#action=game-history">Swiss Loto</a></th>
      <td>6</td>
      <td>42</td>
      <td>22.32</td>
      <td>2</td>
      <td>44.64</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://www.lotto.de/de/ergebnisse/eurojackpot/archiv.html">German Euro Jackpot</a></th>
      <td>5</td>
      <td>50</td>
      <td>21.01</td>
      <td>1</td>
      <td>21.01</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.lotto.de/de/ergebnisse/keno/archiv.html">German Keno</a></th>
      <td>20</td>
      <td>70</td>
      <td>57.16</td>
      <td>7</td>
      <td>400.12</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.lotto.de/de/ergebnisse/lotto-6aus49/archiv.html">German Loto</a></th>
      <td>6</td>
      <td>49</td>
      <td>23.73</td>
      <td>2</td>
      <td>47.46</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="http://www.loteriasyapuestas.es/es/bonoloto">Spanish Bonoloto</a></th>
      <td>6</td>
      <td>49</td>
      <td>23.73</td>
      <td>6</td>
      <td>142.38</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.loteriasyapuestas.es/es/gordo-primitiva">Spanish El Gordo</a></th>
      <td>5</td>
      <td>54</td>
      <td>21.59</td>
      <td>1</td>
      <td>21.59</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.loteriasyapuestas.es/es/la-primitiva">Spanish La Primitiva</a></th>
      <td>6</td>
      <td>49</td>
      <td>23.73</td>
      <td>2</td>
      <td>47.46</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://www.fdj.fr/jeux/jeux-de-tirage/euromillions/statistiques/">European Euro Millions</a></th>
      <td>5</td>
      <td>50</td>
      <td>21.01</td>
      <td>2</td>
      <td>42.02</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://www.fdj.fr/jeux/jeux-de-tirage/keno/statistiques">French Keno (Noon)</a></th>
      <td>20</td>
      <td>70</td>
      <td>57.16</td>
      <td>7</td>
      <td>400.12</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.fdj.fr/jeux/jeux-de-tirage/keno/statistiques">French Keno (Evening)</a></th>
      <td>20</td>
      <td>70</td>
      <td>57.16</td>
      <td>7</td>
      <td>400.12</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.fdj.fr/jeux/jeux-de-tirage/loto/statistiques">French Loto</a></th>
      <td>5</td>
      <td>49</td>
      <td>20.86</td>
      <td>3</td>
      <td>62.58</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="http://www.superenalotto.com/archivio-estrazioni.asp">Italian SuperEnalotto</a></th>
      <td>6</td>
      <td>90</td>
      <td>29.21</td>
      <td>3</td>
      <td>87.63</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="http://www.loterienationale.mu/fr/tirages-et-archives">Mauritius Loto</a></th>
      <td>6</td>
      <td>40</td>
      <td>21.87</td>
      <td>1</td>
      <td>21.87</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://www.lotto.nl/lotto/trekkingenIndex.html">Dutch Lotto (Standard 1st trecking draws)</a></th>
      <td>6</td>
      <td>45</td>
      <td>22.95</td>
      <td>1</td>
      <td>22.95</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://mylotto.co.nz/index.php/keno/results/">New Zealand Keno (1st daily draw - 10AM)</a></th>
      <td>20</td>
      <td>80</td>
      <td>61.61</td>
      <td>7</td>
      <td>431.27</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://mylotto.co.nz/index.php/keno/results/">New Zealand Keno (2nd daily draw - 1PM)</a></th>
      <td>20</td>
      <td>80</td>
      <td>61.61</td>
      <td>7</td>
      <td>431.27</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://mylotto.co.nz/index.php/keno/results/">New Zealand Keno (3rd daily draw - 3PM)</a></th>
      <td>20</td>
      <td>80</td>
      <td>61.61</td>
      <td>7</td>
      <td>431.27</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://mylotto.co.nz/index.php/keno/results/">New Zealand Keno (4th daily draw - 6PM)</a></th>
      <td>20</td>
      <td>80</td>
      <td>61.61</td>
      <td>7</td>
      <td>431.27</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://mylotto.co.nz/lotto/results/">New Zealand Lotto</a></th>
      <td>6</td>
      <td>40</td>
      <td>21.87</td>
      <td>2</td>
      <td>43.74</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="https://www.healthlottery.co.uk/results/draw-history">UK Health Lottery (Saturday £1 draw)</a></th>
      <td>5</td>
      <td>50</td>
      <td>21.01</td>
      <td>1</td>
      <td>21.01</td>
    </tr>
    <tr class="change-country">
      <th scope="row"><a href="http://www.powerball.com/hotlotto/hl_number_history.asp">US Hot Lotto</a></th>
      <td>5</td>
      <td>47</td>
      <td>20.54</td>
      <td>2</td>
      <td>41.08</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.megamillions.com/winning-numbers/search">US Mega Millions</a></th>
      <td>5</td>
      <td>75</td>
      <td>24.04</td>
      <td>2</td>
      <td>48.08</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://data.ny.gov/Government-Finance/Lottery-Cash-4-Life-Winning-Numbers-Beginning-2014/kwxv-fwze">US NY Cash 4 Life</a></th>
      <td>5</td>
      <td>60</td>
      <td>22.38</td>
      <td>2</td>
      <td>44.76</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://nylottery.ny.gov/wps/portal/Home/Lottery/home/your+lottery/winning+numbers/lottopastwinning+numbers">US NY Lotto</a></th>
      <td>6</td>
      <td>59</td>
      <td>25.42</td>
      <td>2</td>
      <td>50.84</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.powerball.com/powerball/pb_nbr_history.asp">US Powerball</a></th>
      <td>5</td>
      <td>69</td>
      <td>23.42</td>
      <td>2</td>
      <td>46.84</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.powerball.com/wildcard/wc_numbers.asp">US Wild Card</a></th>
      <td>5</td>
      <td>33</td>
      <td>17.85</td>
      <td>2</td>
      <td>35.70</td>
    </tr>
    <tr class="change-country">
      <th scope="row">Total</ht>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>\(\approx\)5189</td>
    </tr>
  </tbody>
</table>
</div>
