<p class="lead" id="mdc-intro">
  Introducing the <em>Million Dollar Curve</em>
</p>
<p>
  The <em>Million Dollar Curve</em> will be an alternative to curves P-256 and Curve 25519 to instantiate the ECDH cryptosystem, and will be produced in February 2016. This 128-bit secure elliptic curve is to be generated following the full methodology described in the technical paper and demonstrated in the <a href="{{ " #tutorial " | prepend: site.baseurl }}" title="Tutorial">tutorial</a> to generate the Three Cents Curve. In particular, by committing publicly on the (deterministic) process and the list of draws <em>before</em> they actually happen, our methodology is designed so that nobody (even us!) can put a trap in the Million Dollar Curve.
</p>
<div class="alert alert-info">
  <p>
    Our objective is for the <em>Million Dollar Curve</em> to inspire confidence to the greatest number. In that sense, we want to integrate comments we receive in the methodology before committing on the final methodology, final source code and the lottery draws we will use.
  </p>
  <p>
    You can direct any comment you have to us and we will gladly listen. <a class="btn btn-primary-outline btn-sm" data-mdc-mt="curves">Email us!</a>
  </p>
</div>
<p>
  In what follows, we describe how we will generate the MDCurve201601 Curve (Million Dollar Curve of January 2016).
</p>
<p>Our methodology can easily be adapted (and reproducible by anyone) for new curves with possibly different specifications (e.g. not an Edwards curve or aiming at 256 bits of security), and of course new lottery draws.
</p>
<p>
  We will likely generate new Million Dollar Curves in the future on this website as needed.
</p>
<p class="lead" id="mdc-timeline">
  <strong>Timeline</strong> to generate the MDCurve201601 Curve
</p>
<ul class="timeline">
  <li>
    <div class="timeline-badge primary"><i class="fa fa-comments-o"></i></div>
    <div class="card timeline-card">
      <div class="card-header">
        <strong>Phase I</strong>: Before January 25th 2016 <span class="label label-success">Done!</span>
      </div>
      <div class="card-block">
        <h4 class="card-title">Receiving comments on our methodology</h4>
        <p class="card-text">In order for the Million Dollar Curve to win its spur, we greatly welcome any comment to improve the methodology we propose.</p>
        <a class="btn btn-primary" data-mdc-mt="curves">Email us!</a>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge primary"><i class="fa fa-lock"></i></div>
    <div class="card timeline-card">
      <div class="card-header">
        <strong>Phase II</strong>: January 27th 2016 <span class="label label-success">Done!</span>
      </div>
      <div class="card-block">
        <h4 class="card-title">Commitment on the design to generate MDCurve201601</h4>
        <p class="card-text">On January 27th 2016, we presented a full document (a text file) that describes the generation of Million Dollar Curve of January 2016 (named MDCurve201601), the list of security criteria we consider, and the acceptable set of parameters.</p>
	<p class="card-text">This design text file can be downloaded here: <a class="btn btn-primary btn-sm" href="{{ "specifications/mdcurve_201601/2016_01_27_million_dollar_curve.txt" | prepend: site.baseurl }}">2016_01_27_million_dollar_curve.txt</a></p>
	<p>The SHA256 hash of this file is</p>
	<figure class="highlight">
          <pre>e9dd4baf0d351b5a64c59ed6b1efd3108094b3585e17a0e5350fb200500058d9</pre>
	</figure>
        <p class="card-text">We commited on this design text file in the following ways:
	  
	  <ul>
	    <li>
	      We created a <a href="https://letsencrypt.org/" title="Let's Encrypt">Let's Encrypt</a> (U.S.) certificate for the subdomain
	      <figure class="highlight">
		<pre class="pre-small"><p>mdcurve.design.201601.sha256.e9dd4baf0d351b5a.64c59ed6b1efd310.8094b3585e17a0e5.350fb200500058d9.cryptoexperts.com</p></pre>
	      </figure>
	      where one can see the SHA256 hash of the design text file. The certificate can be consulted/validated by
	      visiting the following url:
	      <figure class="highlight">
		<pre><p><a href="https://mdcurve.design.201601.sha256.e9dd4baf0d351b5a.64c59ed6b1efd310.8094b3585e17a0e5.350fb200500058d9.cryptoexperts.com">https://mdcurve.design.201601.sha256.e9dd4baf0d351b5a.64c59ed6b1efd310.8094b3585e17a0e5.350fb200500058d9.cryptoexperts.com</a></p></pre>
	      </figure>
	      The certificate can also be dowloaded here: <a href="{{ "specifications/mdcurve_201601/mdcurve.design.201601.crt" | prepend: site.baseurl }}">mdcurve.design.201601.crt</a>
	      The certificate is also archived on <a href="https://crt.sh/?id=12299007">crt.sh</a> (you can look for <code>X509v3 Subject Alternative Name</code>).
	    </li>

	    <li>
	      We have uploaded a sound file on SoundCloud (DE). Check out the song 2016_01_27_million_dollar_curve on <a href="https://soundcloud.com/cryptoexperts">CryptoExperts' SoundCloud page</a>.
	    </li>
	    <li>
	      We have uploaded a picture of a handwritten version of the SHA256 hash of the design text file on 500px (U.S.). Check it out on <a href="https://500px.com/cryptoexperts">CryptoExperts' profile</a>.
	    </li>
            <li>We published the design text file on CryptoExperts' <a href="https://github.com/CryptoExperts/million-dollar-curve" title="Github Million Dollar Curve">Github million-dollar-curve directory</a> (U.S.) and the SHA256 hashes of both the design text file and the Let's Encrypt certificate on the <a href="https://bitbucket.org/CryptoExperts/million-dollar-curve" title="Bitbucket Million Dollar Curve">Bitbucket million-dollar-curve directory</a> (Aus).</li>
	    <li>We published a video showing the SHA256 of the design text file on Dailymotion (FR). You can watch it on <a href="http://www.dailymotion.com/cryptoexperts">CryptoExperts' Dailymotion page</a>.</li>
	    <li>We used the <a href="http://truetimestamp.org">TrueTimeStamp</a> service to have the design text file included in their sequence of fingerprints. The certificate we obtained is here: <a href="{{ "specifications/mdcurve_201601/TrueTimeStamp-certificate-1497.txt" | prepend: site.baseurl }}">TrueTimeStamp-certificate-1497.txt</a>. One can easily check that the SHA256 hash of the file was timestamped on January 27, 2016 3:49:54 pm UTC.</li>
	    <li>
	      We obtained a certificate from <a href="http://virtual-notary.org/">Virtual-Notary</a> (U.S.). This certificate can be downloaded here: <a href="{{ "specifications/mdcurve_201601/virtual-notary-cert-document-644891.p12" | prepend: site.baseurl }}">virtual-notary-cert-document-644891.p12</a>. One can easily check that the SHA256 hash of the file was timestamped on Wednesday January 27, 2016 11:04.37 EST (UTC-0500). 
	    </li>
	    <li>
	      We created a "trusted timestamp" with <a href="https://www.btproof.com/" title="BTProof">BTProof</a>. At the time of writing, the SHA256 of the design text file has not yet been seen on the blockchain.
	    </li>
	    <li>
	      We created a new revision of the technical paper on the IACR Cryptology ePrint Archive (International). We added a note to this revision, with the SHA256 of the design text file. You can retrieve this version at <a href="https://eprint.iacr.org/2015/1249/20160127:164115">https://eprint.iacr.org/2015/1249/20160127:164115</a>.	      
	    </li>
	    <li>
	      We posted the following tweet on Twitter (U.S.):
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Tweeted by @CryptoExperts on Wednesday January 27, 2016</h6>
		  <h6 class="card-subtitle text-muted"><a href="https://twitter.com/CryptoExperts/status/692396931864203264">Link to the tweet</a></h6>
                </div>
                <div class="card-block">
                  <p class="card-text">
		    #MDCurve201601 SHA256
		    <br>e9dd4baf0d351b5a64c59ed6b1efd3108094b3585e17a0e5350fb200500058d9 https://cryptoexperts.github.io/million-dollar-curve/specifications/mdcurve_201601/2016_01_27_million_dollar_curve.txt
                  </p>
                </div>
              </div>
	    </li>

	  </ul>
	  
        </p>
      </div>
    </div>
  </li>


  
  <li>
    <div class="timeline-badge primary"><i class="fa fa-lock"></i></div>
    <div class="card timeline-card">
      <div class="card-header">
        <strong>Phase III</strong>: January 29th 2016 <span class="label label-success">Done!</span>
      </div>
      <div class="card-block">
        <h4 class="card-title">Commitment on the list of draws to consider in February 2016</h4>
        <p class="card-text">On January 29th 2016, we commited on a text file containing a list of future draws (starting on February 1st, 2016), a clear pointer to the aforementioned design (Phase II), and a source code that deterministically computes the seed from the listed draws.</p>
	<p class="card-text">This design text file can be downloaded here: <a class="btn btn-primary btn-sm" href="{{ "specifications/mdcurve_201601/2016_01_29_million_dollar_curve_seeding.txt" | prepend: site.baseurl }}">2016_01_29_million_dollar_curve_seeding.txt</a></p>
	<p>The SHA256 hash of this file is</p>
	<figure class="highlight">
          <pre>f8bdb5bd4957a2d65b567378bb32744d0d0573a77e4ef0247311a5a4b98744da</pre>
	</figure>
        <p class="card-text">We commited on this design text file in the following ways:
	  
	  <ul>
	    <li>
	      We created a <a href="https://letsencrypt.org/" title="Let's Encrypt">Let's Encrypt</a> (U.S.) certificate for the subdomain
	      <figure class="highlight">
		<pre class="pre-small"><p>mdcurve.seeding.201601.sha256.f8bdb5bd4957a2d6.5b567378bb32744d.0d0573a77e4ef024.7311a5a4b98744da.cryptoexperts.com</p></pre>
	      </figure>
	      where one can see the SHA256 hash of the design text file. The certificate can be consulted/validated by
	      visiting the following url:
	      <figure class="highlight">
		<pre><p><a href="https://mdcurve.seeding.201601.sha256.f8bdb5bd4957a2d6.5b567378bb32744d.0d0573a77e4ef024.7311a5a4b98744da.cryptoexperts.com">https://mdcurve.seeding.201601.sha256.f8bdb5bd4957a2d6.5b567378bb32744d.0d0573a77e4ef024.7311a5a4b98744da.cryptoexperts.com</a></p></pre>
	      </figure>
	      The certificate can also be dowloaded here: <a href="{{ "specifications/mdcurve_201601/mdcurve.seeding.201601.crt" | prepend: site.baseurl }}">mdcurve.seeding.201601.crt</a>
	      The certificate is also archived on <a href="https://crt.sh/?id=12378897">crt.sh</a> (you can look for <code>X509v3 Subject Alternative Name</code>).
	    </li>
	    <li>
	      We have uploaded a sound file on SoundCloud (DE). Check out the song 2016_01_29_million_dollar_curve_seeding on <a href="https://soundcloud.com/cryptoexperts">CryptoExperts' SoundCloud page</a>.
	    </li>
	    <li>
	      We have uploaded a picture of a handwritten version of the SHA256 hash of the design text file on 500px (U.S.). Check it out on <a href="https://500px.com/cryptoexperts">CryptoExperts' profile</a>.
	    </li>
            <li>
	      We published the seeding text file on CryptoExperts' <a href="https://github.com/CryptoExperts/million-dollar-curve" title="Github Million Dollar Curve">Github million-dollar-curve directory</a> (U.S.) and the SHA256 hashes of both the seeding text file and the Let's Encrypt certificate on the <a href="https://bitbucket.org/CryptoExperts/million-dollar-curve" title="Bitbucket Million Dollar Curve">Bitbucket million-dollar-curve directory</a> (Aus).
	    </li>
	    <li>
	      We used the <a href="http://truetimestamp.org">TrueTimeStamp</a> service to have the design text file included in their sequence of fingerprints. The certificate we obtained is here: <a href="{{ "specifications/mdcurve_201601/TrueTimeStamp-certificate-1516.txt" | prepend: site.baseurl }}">TrueTimeStamp-certificate-1497.txt</a>. One can easily check that the SHA256 hash of the file was timestamped on January 29, 2016 10:57:48 am UTC.
	    </li>
	    <li>
	      We published a video showing the SHA256 of the design text file on Dailymotion (FR). You can watch it on <a href="http://www.dailymotion.com/cryptoexperts">CryptoExperts' Dailymotion page</a>.
	    </li>
	    <li>
	      We obtained a certificate from <a href="http://virtual-notary.org/">Virtual-Notary</a> (U.S.). This certificate can be downloaded here: <a href="{{ "specifications/mdcurve_201601/virtual-notary-cert-document-304168.p12" | prepend: site.baseurl }}">virtual-notary-cert-document-304168.p12</a>. One can easily check that the SHA256 hash of the file was timestamped on Friday January 29, 2016 06:05.19 EST (UTC-0500).
	    </li>
	    <li>
	      We used <a href="https://www.proofofexistence.com" title="Proof of Existence">Proof of Existence</a> to have the SHA256 of the seeding text file certified in the Bitcoin blockchain. The transaction broadcast was timestamped on the 30th of January, 2016, at 23h16 GMT (see the <a href="{{ "specifications/mdcurve_201601/mdcurve201601_proof_of_existence.pdf" | prepend: site.baseurl }}">Document information</a>). This can be checked using the command line:
	      <figure class="highlight">
		<pre># curl -d d=f8bdb5bd4957a2d65b567378bb32744d0d0573a77e4ef0247311a5a4b98744da https://www.proofofexistence.com/api/v1/status
{"digest":"f8bdb5bd4957a2d65b567378bb32744d0d0573a77e4ef0247311a5a4b98744da","payment_address":"14n84qmsbL81gnppaE6WcEvMB5jLrBsZmm","pending":false,"timestamp":"2016-01-29 12:39:00","tx":"99a5f547aa4569cc34d3a9ff66f22b8086f44c0b90bc53e1c4a5ed54f4f7b43c","txstamp":"2016-01-30 23:16:37","blockstamp":"2016-01-30 23:33:22","network":"livenet","success":true}</pre>
	      </figure>

	    </li>
	    <li>
	      We created a new revision of the technical paper on the IACR Cryptology ePrint Archive (International). We added a note to this revision, with the SHA256 of the design text file. You can retrieve this version at <a href="https://eprint.iacr.org/2015/1249/20160129:141701">https://eprint.iacr.org/2015/1249/20160129:141701</a>.	      
	    </li>
	    <li>
	      We posted the following tweet on Twitter (U.S.):
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Tweeted by @CryptoExperts on Wednesday January 29, 2016</h6>
		  <h6 class="card-subtitle text-muted"><a href="https://twitter.com/CryptoExperts/status/693078734681808896">Link to the tweet</a></h6>
                </div>
                <div class="card-block">
                  <p class="card-text">
		    #MDCurve201601 SHA256
		    <br>f8bdb5bd4957a2d65b567378bb32744d0d0573a77e4ef0247311a5a4b98744da https://cryptoexperts.github.io/million-dollar-curve/specifications/mdcurve_201601/2016_01_29_million_dollar_curve_seeding.txt
                  </p>
                </div>
              </div>
	    </li>

	  </ul>	  
	  
	</p>
      </div>
    </div>
  </li>




  
  <li>
    <div class="timeline-badge primary"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="card timeline-card">
      <div class="card-header">
        <strong>Phase IV</strong>: February 1st - February 14th 2016 <span class="label label-primary">Current Phase</span>
      </div>
      <div class="card-block">
        <h4 class="card-title">Lottery Draws</h4>
        <p class="card-text">During this period, the draws on which we committed on in Phase III should take place, and the full list of result will be gathered.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge"><i class="fa fa-gears"></i></div>
    <div class="card timeline-card">
      <div class="card-header">
        <strong>Phase V</strong>: After February 14th 2016 <span class="label label-default">Waiting</span>
      </div>
      <div class="card-block">
        <h4 class="card-title">Curve generation</h4>
        <p class="card-text">On February 14th 2016, all the draws committed on will have (or will not have) taken place, and the full list of results will be made public.</p>
        <p class="card-text">Using the source code committed on in Phase III, we will generate the seed from the full list of results.</p>
        <p class="card-text">Using the source code committed on in Phase II and the aforementioned seed, we will generate the MDCurve201601 curve, and update this website accordingly.</p>
      </div>
    </div>
  </li>
</ul>
