<li class="nav-item hidden"><a class="nav-link" href="#top">Top</a></li>
<li class="nav-item">
  <a class="nav-link" href="#overview">Overview</a>
</li>
<ul class="subnav" subnavfor="#overview">
  <li class="nav-item"><a class="nav-link" href="#choose_security">Choosing security</a></li>
  <li class="nav-item"><a class="nav-link" href="#themdc">The million dollar curve</a></li>
</ul>
<li class="nav-item"><a class="nav-link" href="#source">Source Code</a></li>
<ul class="subnav" subnavfor="#source">
  <li class="nav-item"><a class="nav-link" href="#code_overview">Code overview</a></li>
  <li class="nav-item"><a class="nav-link" href="#helpers">Helpers</a></li>
  <li class="nav-item"><a class="nav-link" href="#required_libs">Required libraries</a></li>
  <li class="nav-item"><a class="nav-link" href="#download">Download</a></li>
</ul>
<li class="nav-item"><a class="nav-link" href="#tutorial">Tutorial: The Three Cents Curve</a></li>
<ul class="subnav" subnavfor="#tutorial">
  <li class="nav-item"><a class="nav-link" href="#tutorial-intro">Introduction</a></li>
  <li class="nav-item"><a class="nav-link" href="#tutorial-timeline">Full methodology</a></li>
  <li class="nav-item"><a class="nav-link" href="#tutorial-whatswrong">Why not use it?</a></li>
</ul>
<li class="nav-item"><a class="nav-link" href="#mdc">The Million Dollar Curve</a></li>
<ul class="subnav" subnavfor="#mdc">
  <li class="nav-item"><a class="nav-link" href="#mdc-intro">Description</a></li>
  <li class="nav-item"><a class="nav-link" href="#mdc-timeline">Timeline</a></li>
</ul>
<li class="nav-item"><a class="nav-link" href="#lotteries">Lotteries</a></li>
<li class="nav-item"><a class="nav-link" href="#faq">Frequently Asked Questions</a></li>
<li class="nav-item"><a class="nav-link" href="#about">About CryptoExperts</a></li>
