<p>Since the publication of this project, we have received many questions and saw many reactions on, e.g., Twitter. We plan to answer most of them on this webpage. To benefit from these Q&As, we recommend you read the technical paper.</p>

<ol>
  <li id="q_and_a_01">
    <div class="card card-block">
      <h4 class="card-title">Is <em>Million Dollar Curve</em> nothing more than "yet another safe curve"?</h4>
      <p class="card-text">...</p>
    </div>
  </li>
  <li id="q_and_a_02">
    <div class="card card-block">
      <h4 class="card-title">Is there anything wrong with Curve25519?</h4>
      <p class="card-text">No. We, at CryptoExperts, actually <em>use</em> Curve25519 and <em>recommend</em> it to our partners. Yet, we think that people should not rely on the same few safe curves that are currently out. Our methodology allows to easily produce safe alternatives.</p>
    </div>
  </li>
  <li id="q_and_a_03">
    <div class="card card-block">
      <h4 class="card-title">Curve25519 vs. Million Dollar Curve</h4>
      <p class="card-text">...</p>
    </div>
  </li>
  <li id="q_and_a_04">
    <div class="card card-block">
      <h4 class="card-title">What if a government agency rigs a few lotteries?</h4>
      <p class="card-text">...</p>
    </div>
  </li>
  <li id="q_and_a_05">
    <div class="card card-block">
      <h4 class="card-title">Do you really think that national lotteries are unimpeachable?</h4>
      <p class="card-text">...</p>
    </div>
  </li>
</ol>

